# Byte-compiled / optimized / DLL files
__pycache__
*$py.class
.pytest_cache
.coverage
.tox
.mypy_cache
dist/
# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

### macOS template
*.DS_Store

# Logfiles
twitterbot.log
